/*
	font pairing 1

    font-family: 'Satisfy', ;
    font-family: 'Open Sans', ;


*/

.post,
input {
	font-family: 'Satisfy', sans-serif ;

}

h1,
button,
a,
.post-date {
	font-family: 'Open Sans',sans-serif ;
	font-size: 1.5em;
}

button {
	font-size: 1em;
}


.post {
	line-height: 1.5;
}

.post-text {
	font-size: 1.7em;
	text-shadow: 4px 4px 4px  #aeb6bf;

}

.post-info {
	color: gray;
}

.post-author {
	/*color: darkblue;*/
}

.post-author strong {
	color:  #f1948a;
}

.post-date {
	font-size: .8em;
}