* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html, body {
	width: 100%;
	position: relative;
	top: 0;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
/* reset UI styles */
button, input {
	font: inherit;
	background: none;
	border: none;
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px 6px;
	line-height: 1;
	vertical-align: middle;
}

#container {
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
}


/* authenticated */
body.auth #login{
	display: none;
}

body.auth #user-info{
	display: block;
}

/* not authenticated */
body #user-info {
	display: none;
}

input {
	width: 100%;
	margin: 10px 0;
}
#preview img {
	width: 100px;
	height: auto;
}

img {
	max-width: 140px;
	width: 100%;
}

.flex-container .div-login {
	padding: 0;
}
.w-100 {
	width: 100%;
}